.navbar, .navbar-brand, .nav-link {
    background: var(--navy) !important;
    padding: 0.2em 0.5em !important;
    margin: 0em !important;
}

.navbar-brand{
    padding: 0em;
    margin: 0em;
}

.navbar-toggler-icon{
    color: var(--rust) !important;
}

#logo{
    margin-right: 0.5em;
    padding-left: 0;
}

.nav-link{
    color: var(--rust) !important;
    font-family: var(--font1) !important;
    font-size: 1.5em;
}

.dropdown-menu{
    background: var(--silk);
    color: var(--charcoal);
}

.dropdown-toggle::after{
    display:none;
}

.dropdown-item{
    color: var(--navy);
    font-family: var(--font2);
    font-size: 1em;
}
