:root{
    --stormy: #494e6b;
    --mountain: #3f3250;
    --lavender: #6c648b;
    --oxblood: #76323f;
    --rust: #b56357;
    --herb: #626e60;
    --mint: #b4dbc0;
    --palegold: #c0b283;
    --silk:#dcd0c0;
    --paper: #f4f4f4;
    --powder: #cccbc6;
    --charcoal: #373737;
    --navy: #22252c;

    --font1: 'Merienda', cursive;
    --font2: 'Oswald', sans-serif;

} 
